.category {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  & h2 {
    background-color: antiquewhite;
    color: #0D2436;
    padding: 1rem 0;
  }
  & .card-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 1px 2px 0px rgba(220,220,220,0.7),
    1px 2px 4px 0px rgba(220,220,220,0.7),
    2px 4px 8px 0px rgba(220,220,220,0.7),
    2px 4px 16px 0px rgba(220,220,220,0.7);
    & .card {
      margin: 2rem;
    }
  }
}
