.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  //border: 1px solid black;
  width: 20rem;
  height: 20rem;
  border-radius: 15px;
  color: #0D2436;
  box-shadow: 0px 1px 2px 0px rgba(220,220,220,0.7),
  1px 2px 4px 0px rgba(220,220,220,0.7),
  2px 4px 8px 0px rgba(220,220,220,0.7),
  2px 4px 16px 0px rgba(220,220,220,0.7);
  &:hover, & button:hover:not(:disabled) {
    background-color: #34AC9C;
    color: #CCCCCC;
  }
  &.selected {
    background-color: #009B86;
  }
  & h3 {
    width: 100%;
    height: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #0D2436;
  }
  & .disabled {
    opacity: 0.2;
  }
  & .card-content {
    flex: 1;
    & img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
    }
  }
  & button {
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 7rem;
    &:hover:not(:disabled) {
      cursor: pointer;
    }
  }
}
