.ballot {
  display: flex;
  flex-direction: column;
  & .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: #0D2436;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    & >button {
      background-color: gold;
      border-radius: 10px;
      padding: 2rem;
      font-size: 1.5rem;
      width: 15rem;
      align-self: self-end;
      position: absolute;
      right: 2rem;
      top: 25%;

      &:hover:not(:disabled) {
        cursor: pointer;
      }
    }
  }
  & .ballot-list {
    display: flex;
    flex-direction: column;
    margin: 0 3rem 1rem;
    position: relative;

  }
}
