.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position:fixed;
  background: white;
  width: 70%;
  height: 50%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: black;
  font-size: 1.5rem;
  & ul li {
    list-style: none;
    text-align: start;
  }
  & li {
    margin: 1rem 0;
  }

  & .close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
