html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 500px) {
  html { font-size: 50%; }
}

@media (min-width: 500px) {
  html { font-size: 65%; }
}

@media (min-width: 700px) {
  html { font-size: 80%; }
}

/*@media (min-width: 1200px) {*/
/*  html { font-size: 100%; }*/
/*}*/
